{:deps  {org.clojure/clojure   {:mvn/version "1.12.0"}

         org.clojure/tools.cli {:mvn/version "1.1.230"}
         ;; Logging
         com.taoensso/timbre   {:mvn/version "6.6.1"}
         }
 :paths ["src" "resources"]
 :aliases
 {:dev {:extra-deps  {integrant/repl                  {:mvn/version "0.4.0"}
                      aero/aero                       {:mvn/version "1.1.6"}
                      gorillalabs.bauhaus.dev-tooling/config {:local/root "../../dev-tooling/config"}}
        :extra-paths ["dev" "dev-resources"
                      "test"]}}}